<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            <left_joint>base_left_wheel_joint</left_joint>
            <right_joint>base_right_wheel_joint</right_joint>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <wheel_separation>${base_width + wheel_length}</wheel_separation>
            <wheel_radius>${wheel_radius}</wheel_radius>
        </plugin>

        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>blade_joint</joint_name>
        </plugin>

        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
        </plugin>
    </gazebo>

    <gazebo reference="caster_wheel_link">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
    </gazebo>
</robot>
